@import './shared/fonts';

@import './index';
@import './components/navbar';

html, body {
  font-family: 'Montserrat', 'Helvetica';
  height: 100%;
  width: 100%;
}

.base-page {
  padding-top: 125px;
  color: white;
}

.self-typed {
  font-size: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.absolute {
  position: absolute;
}
